body{
	background:#1f2227;
	color:#b0b3b3;
	font-size:14px;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	padding:0;
	margin:0;	
	overflow-y: scroll;
}
body, html{
	overflow: hidden;
	height: 100%;
}
.fork{
	position: absolute;
	right: 0;
	top: 0;
	height: 170px;
	width: 172px;
	-webkit-animation-delay:2.3s;
	   -moz-animation-delay:2.3s;
		-ms-animation-delay:2.3s;
		 -o-animation-delay:2.3s;
			animation-delay:2.3s;
}
.wrapper{
	position: relative;
	width: 576px;
	height: 455px;
	margin: 10% auto;
}
.image{
	width: 576px;
	height: 360px;
	display: block;
	background: url(../images/background.png) no-repeat center;
	-webkit-animation-duration: 4s;
	   -moz-animation-duration: 4s;
	    -ms-animation-duration: 4s;
	     -o-animation-duration: 4s;
	        animation-duration: 4s;
}

ul{margin:0 auto; width: 260px; height: 20px; display: block; clear: both;}
ul li{
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	float: left;
	height: 12px;
	width: 16px;
	display: block;
	color: #95a6c0;
}

.coming{
	margin: 0px auto;
	display: block;
	text-align: right;
	width: 253px;
	height: 12px;
	font-size: 11px;
	font-family: helvetica, arial, sans-serif;
	color: #50586b;
	letter-spacing:2px;
}
.intro,
.about{
	position: absolute;
	height: 95px;
	width: 100%;
}
.about{
	display: none;
	-webkit-animation-delay: 0.5s;
	   -moz-animation-delay: 0.5s;
		-ms-animation-delay: 0.5s;
		 -o-animation-delay: 0.5s;
			animation-delay: 0.5s;
}
.about img{
	position: absolute;
	left: 15px;
	top: 0px;
}
a{
	color: #b1bdd0;
	text-decoration: none;
}
a.twitter{
	position: relative;
	width: 325px;
	height: 50px;
	display: block;
	margin: 0 auto;

	color: #b7d3e4;
	font-size: 20px;
	line-height: 28px;
	font-family: helvetica, arial, sans-serif;
	text-shadow: 0 -1px 0 #1a446c;
	padding: 15px 0px 40px 110px;
	text-decoration: none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	border: 2px solid #191b1f;
	background:#357eb3;
	background:-moz-linear-gradient(top, #357eb3 0%, #265794 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#357eb3), color-stop(100%,#265794));
	background:-webkit-linear-gradient(top, #357eb3 0%,#265794 100%);
}
a.twitter:hover{
	background:#265794;
	background:-moz-linear-gradient(top, #265794 0%, #357eb3 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#265794), color-stop(100%,#357eb3));
	background:-webkit-linear-gradient(top, #265794 0%,#357eb3 100%);
}
.dribbble{
	width: 100%;
	display: block;
	color: #95a5bd;
	text-align: center;
	margin: 5px 0 0;
}
.dribbble a{
	font-weight: bold;
}
.dribbble a:hover{
	text-decoration: underline;
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
 	.fork{
		display: none;
	}
 	.wrapper{
		max-width: 1000px;
		height: 640px;
	}
	.image{
		background: url(../images/background-ipad.png) no-repeat center center!important;
		-webkit-background-size: cover!important;
		-moz-background-size: cover!important;
		-o-background-size: cover!important;
		background-size: cover!important;
		background-size: 100%;
		height: 546px!important;
		max-width: 70%;
		margin: 0 auto;
		display: block;
	}
	a.twitter{
		position: relative;
		width: 325px;
		height: 50px;
		display: block;
		margin: 0 auto;
		color: #b7d3e4;
		font-size: 20px;
		line-height: 28px;
		padding: 15px 0px 40px 110px;
	}
	.dribbble{
		font-size: 14px;
	}
}
@media screen and (min-width: 200px) and (max-width: 640px) {
	.fork{
		display: none;
	}
 	.wrapper{
 		margin: 10px auto!important;
		max-width: 300px;
	}
	.image{
		background: url(../images/background-iphone.png) no-repeat center center!important;
		-webkit-background-size: cover!important;
		-moz-background-size: cover!important;
		-o-background-size: cover!important;
		background-size: cover!important;
		background-size: 100%;
		height: 275px!important;
		max-width: 70%;
		margin: 0 auto;
		display: block;
	}
	.intro,
	.about{
		position: absolute;
		height: 95px;
		width: 300px;
	}
	.about{
		position: absolute;
		top: 270px;
		height: 95px;
		width: 300px;
	}
	a.twitter{
		font-size: 16px!important;;
		width: 200px!important;;
		height: 37px!important;;
		padding: 2px 0!important;;
		text-align: center!important;;
	}
	.dribbble{
		font-size: 11px;
	}
	.about img{
		display: none;
	}
}